# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.vite/
frontend/.env
frontend/.env.*
!frontend/.env.example

# Backend
backend/venv_tka_tryout/
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/.env
backend/.env.*
!backend/.env.example